@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500,600');
/* reset */
html{
    font-size: 62.5%;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    font: 1.6rem 'Montserrat', sans-serif;
    margin: 0;
    background-color: #fafafa;
}
h1,h2,h3,h4,p,ul,ol{
    margin: 0;
    font-weight: 300;
    padding: 0;
    list-style: none;
    text-align: center;
}
a{
    text-decoration: none;
    color: #222;
}
:root{
    --color-default: #000;
    --color-primary: #2b7dc0;
    --color-header:  #a1a2a2;
    --color-warning: #e23131;
    --color-success: #4db32e;
}
*{
    box-sizing: border-box;
}
/* logo Instagram */
#insta{
    width: 20rem;
    height: 10rem;
    display: block;
    margin: 0 auto 0;
    margin-top: -1rem;
}
/* theme */
header h1{
    line-height: 6rem;
    font-size: 1.5rem;
    color: var(--color-header);
    text-transform: uppercase;
}
figcaption h3{
    font-size: 2.2rem;
    color: #fafafa;
    padding: 1rem;
    margin: 1rem auto;
}
#ita{
    width: 3rem;
    transform: translateX(-3rem);
    transform: translateY(0.8rem);
}
strong{
    color: #000;
}
main section{
    max-width: 39rem;
    margin: 0 auto;
    margin-bottom: 1rem;
}
main figure{
    max-width: 70rem;
    margin: 0 auto;
}
main section, main .form{
    padding: 1rem;
    border: solid .1rem #bfbfbf;
    background-color: #fafafa;
}
section{
    margin-bottom: 1rem;
}
figure{
    display: block;
    margin: 0 auto;
    background-color: #222;
}
figure ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
figure ul li img{
    max-width: 100%;
    height: auto;
    border: solid .1rem #222;
    display: block;
}
/* PLAYSTORE AND APPLE WIDGET */
#picture li{
    margin: 1rem auto;
    text-align: center;
    display: block;
}
#picture li a{
    text-align: center;
    margin: .5rem;
}
#picture li a img{
    width: 16rem;
} 
/* RESPONSIVE */
@media screen and (max-width: 60rem)and (min-width: 10rem){
    header h1{
        font-size: 1rem;
    }
    main figure{
        max-width: 39rem;
    }
   }