@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500,600');
/* reset */
html{
    font-size: 62.5%;
    margin: 0;
    scroll-behavior: smooth;
}
body{
    font: 1.6rem 'Montserrat', sans-serif;
    margin: 0;
    background-color: #fafafa;
}
h1,h2,h3,p,ul,ol{
    margin: 0;
    font-weight: 300;
    padding: 0;
    list-style: none;
    text-align: center;
}
a{
    text-decoration: none;
    color: #222;
}
:root{
    --color-default: #000;
    --color-primary: #2b7dc0;
    --color-header:  #a1a2a2;
    --color-warning: #e23131;
    --color-success: #4db32e;
}
*{
    box-sizing: border-box;
}
/* logo Instagram */
#insta{
    width: 20rem;
    height: 10rem;
    display: block;
    margin: 0 auto 0;
    margin-top: -1rem;
    }
/* theme */
header h1{
    line-height: 6rem;
    font-size: 1.5rem;
    color: var(--color-header);
    text-transform: uppercase;
}
strong{
    color: #000;
}
main{
    max-width: 39rem;
    margin: 0 auto;
}
main section, main .form{
    padding: 1rem;
    border: solid .1rem #bfbfbf;
    background-color: #fafafa;
}
section{
    margin-bottom: 1rem;
}
/* submit */

.warning, .success{
    background-color: rgb(200, 0, 0);
    color: #fff;
    text-align: center;
    margin-bottom: 1.0rem;
    display: none;
    line-height: 2.5rem;
    padding: 1rem;
}
.success{
    background-color: rgb(0,200,0);
}
/* pied de page */
footer{
    text-align: center;
    background: linear-gradient(grey, white);
    padding: 1rem;
  
}
.fleche{
    font-size: 5em;
}