@import url('https://fonts.googleapis.com/css?family=Dosis:300,400,500,600');

/* reset css */
html{
font-size: 62.5%;
scroll-behavior: smooth;
}
body{
    font: 1.6rem 'Montserrat', sans-serif;
    margin: 0;
    background-color: #fafafa;
}
h1,h2,h3,h4,h5,h6,p,figure,ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
    font-weight: 300;
}
a{
    color: #222;
    text-decoration: none;
}
*{
    box-sizing: border-box;
}
:root{
    --color-default: #000;
    --color-primary: #2b7dc0;
    --color-header:  #a1a2a2;
    --color-warning: #e23131;
    --color-success: #4db32e;
}
/* bannière INSTAGRAM */
#insta{
    width: 20rem;
    height: 10rem;
    display: block;
    margin: 0 auto 0;
    margin-top: -2rem;
    }
/* theme */
input{
    outline: none;
}
header h1{
    text-align: center;
    line-height: 6rem;
    font-size: 1.5rem;
    color: var(--color-header);
    text-transform: uppercase;
}
strong{
    color: #000;
}
p{
    text-align: center;
}
main{
    max-width: 39rem;
    margin: 0 auto;
}
.form{
    padding: 1rem;
    border: solid .1rem #bfbfbf;
    background-color: #fafafa;
}
section{
    margin-top: 1rem;
    padding: 2.5rem;
    border: solid .1rem #bfbfbf;
    background-color: #fafafa;
}
form{
    padding: 1rem;
}
.form input{
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    border: solid .1rem #ccc;
    line-height: 3.5rem;
    padding: .5rem;
    border: solid .1rem #ccc;
    line-height: 3.5rem;
    padding: .5rem;
    border-radius: .5rem;
}
.form input[placeholder]{
    font-size: 1.6rem;
}
/* submit */
form input[type="submit"]{
    display: block;
    line-height: 2.5rem;
    text-align: center;
    border: solid .1rem transparent;
    margin: .8rem auto 0;
    width: 100%;
    background-color: #328ecf;
    color: #ffffff;
    border-radius: .3rem;
    font-size: 1.6rem;
}
input[type="submit"]:hover{
    background-color: #0669af;
}
.appear{
    z-index: 1;
    opacity: 1;
}
img{
    width: 2rem;
}
.warning{
    background-color: rgb(202, 51, 51);
    color: #fff;
    text-align: center;
    margin-bottom: 1.0rem;
    display: none;
    line-height: 2.5rem;
    padding: 1rem;
}
#divider{
    overflow: hidden;
    text-align: center;
    box-sizing: border-box;
    margin: 0 auto;
    color: #b2b2b2;
  }
#divider:before, #divider:after{
    background-color: rgb(0, 0, 0);
    content: "";
    display: inline-block;
    height: 0.1rem;
    position: relative;
    vertical-align: middle;
    width: 60%;
  }
#divider:before{
    right: 1rem;
    margin-left: -50%;
} 
#divider:after {
    left: 1rem;
    margin-right: -50%;
}
form p {
    color: #20357b;
}
#icon{
    width: 2rem;
    transform: translateX(-1rem);
    transform: translateY(0.4rem);
}
p a{
    color: #2b7dc0;
}
#picture li{
    margin: 1rem auto;
    text-align: center;
    display: block;
}
#picture li a{
    text-align: center;
    margin: .5rem;
}
#picture li a img{
    width: 16rem;
} 
